# Ignore files in folder
storage/
tests/build/
**/tests/build/
.sass-cache/
vendor/

# Keep the folder
!storage/**/.gitkeep
!storage/.gitkeep

# Ignore files
.phan/*.log
**/*.zip
*.log
*.sh
.env
.env.*.php
.env.php
.php_cs.cache
bower_components/
node_modules/
npm-debug.log
