# Ignore files in folder
storage/**
tests/build/
**/tests/build/
.sass-cache/
vendor/

# Keep the folder
!storage/**/.keep
!storage/framework/sessions/.keep
!storage/framework/cache/.keep
!storage/.keep
!.keep

# Ignore files
.phan/*.log
**/*.zip
*.log
*.sh
.env
.env.*.php
.env.php
.php_cs.cache
bower_components/
node_modules/
npm-debug.log
