.sortable {
    &-handle {
        cursor: move;
    }

    &-container, &-container span {
        display: block;
        width: 100%;
        min-height: 80px;
        background-color: rgba(0,0,0,0.01);
        padding: 1rem;
    }

    // &-container .sortable-chosen {
    //     transition: all 0.2s ease-in-out;
    // }

    &-chosen {
        -webkit-user-drag: none;
        // pointer-events: none;
        background-color: $green.lighten-3;
    }

    &-ghost {
        opacity: 0.5;
    }
}
