.sortable {
    &-handle {
        cursor: move;
    }

    // &-container .sortable-chosen {
    //     transition: all 0.2s ease-in-out;
    // }

    &-chosen {
        -webkit-user-drag: none;
        // pointer-events: none;
        background-color: $green.lighten-3;
    }

    &-ghost {
        opacity: 0.5;
    }
}
