#quill-editor {
    .ql-editor {
        min-height: 200px;
        padding-left: 40px;
        &:before {
            content: "";
            height: 100%;
            position: absolute;
            width: 1px;
            top: 0;
            left: 30px;
            background-color: $pink.lighten-5;
        }
    }

    &.ql-container.ql-snow {
        border: none;
    }
}

#quill-toolbar {
    &.ql-toolbar.ql-snow {
        border: none;
    }
}

.ql-toolbar.ql-snow,
.ql-container.ql-snow {
    border: none;
    font-family: $body-font-family;
    font-size: $font-size-root;
}

// Font
.ql-picker-options .ql-picker-item {
    &[data-value="montserrat"] {
        font-family: 'Montserrat', $body-font-family;
    }

    &[data-value="18px"] {
        font-size: 18px;
    }

    &[data-value="10px"] {
        font-size: 10px;
    }

    &[data-value="32px"] {
        font-size: 32px;
    }
}

.ql-font-montserrat {
    font-family: 'Montserrat', $body-font-family;
}

