<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Single</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#4DBA87">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Single">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Palanquin:400,600,700|Raleway:400,700,900|Roboto:300,400,500,700|Material+Icons&style=twotone">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>

    <div id="app" v-cloak>
      <v-app :dark="theme.dark">
        <sidebar :items="[]"></sidebar>

        <v-toolbar app flat scroll-off-screen :dark="theme.dark">
          <v-toolbar-side-icon @click="sidebar.model = !sidebar.model"></v-toolbar-side-icon>
          <v-spacer></v-spacer>
          <v-btn icon @click="theme.dark = !theme.dark"><v-icon>edit</v-icon></v-btn>
        </v-toolbar>

        <v-content>
          <v-divider></v-divider>

          <v-container fluid grid-list-lg>
            <v-layout row wrap justify-left>
              <v-flex sm4>
                <v-card :dark="theme.dark" class="mb-3" hover>
                  <v-card-media height="300px" src="//source.unsplash.com/1000x300?vikings"></v-card-media>
                  <v-card-title>
                    <v-layout column wrap>
                      <v-flex>
                        <div>The Lord of Thunder</div>
                        <div class="subheading text-emphasis--medium">Watch out, he makes sparkles</div>
                      </v-flex>
                    </v-layout>
                  </v-card-title>
                  <v-card-text>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, dolores temporibus cumque excepturi. Blanditiis accusamus earum voluptas ut aperiam! Possimus obcaecati officiis minima sequi commodi nobis provident incidunt ratione vel.</v-card-text>

                  <v-card-actions class="grey0-lighten-4">
                    <v-btn large color="primary"><v-icon left>play_arrow</v-icon>Start</v-btn>
                    <v-btn large flat><v-icon left>bookmark</v-icon>Bookmark</v-btn>
                    <v-spacer></v-spacer>
                  </v-card-actions>
                </v-card>

              </v-flex>

              <v-flex sm4>

              </v-flex>

            </v-layout>
          </v-container>
        </v-content>

        <v-footer app inset absolute height="auto">
          <v-container fluid>
            <v-layout row wrap>
              <v-flex tag="small" class="grey--text">Pluma CMS &copy; Copyright 20**. All Rights Reserved.</v-flex>
              <v-spacer></v-spacer>
              <v-flex tag="small" class="grey--text text-xs-right" justify-end>v3.0.0</v-flex>
            </v-layout>
          </v-container>
        </v-footer>
      </v-app>
    </div>

    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
