<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>single</title>
    <link rel="icon" type="image/png" sizes="32x32" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/favicon-16x16.png">
    <!--[if IE]><link rel="shortcut icon" href="/static/img/icons/favicon.ico"><![endif]-->
    <!-- Add to home screen for Android and modern mobile browsers -->
    <link rel="manifest" href="<%= htmlWebpackPlugin.files.publicPath %>static/manifest.json">
    <meta name="theme-color" content="#4DBA87">

    <meta name="csrf-token" content="VmU4DeJY13U0OQLouteSfLLiZFX1W0lWbf7befxP">

    <!-- Add to home screen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="single">
    <link rel="apple-touch-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/apple-touch-icon-152x152.png">
    <link rel="mask-icon" href="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/safari-pinned-tab.svg" color="#4DBA87">
    <!-- Add to home screen for Windows -->
    <meta name="msapplication-TileImage" content="<%= htmlWebpackPlugin.files.publicPath %>static/img/icons/msapplication-icon-144x144.png">
    <meta name="msapplication-TileColor" content="#000000">
    <% for (var chunk of webpack.chunks) {
        for (var file of chunk.files) {
          if (file.match(/\.(js|css)$/)) { %>
    <link rel="<%= chunk.initial?'preload':'prefetch' %>" href="<%= htmlWebpackPlugin.files.publicPath + file %>" as="<%= file.match(/\.css$/)?'style':'script' %>"><% }}} %>
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons' rel="stylesheet">
  </head>
  <body>
    <noscript>
      This is your fallback content in case JavaScript fails to load.
    </noscript>
    <div id="app">
      <v-app>
        <v-navigation-drawer :dark="theme.dark" :light="!theme.dark" app>
          <v-btn @click="theme.dark = !theme.dark">Toogle theme</v-btn>
          <v-btn color="info" @click="dialog.type='prompt';dialog.theme='dark';dialog.text='A prompt occurred!'; dialog.model = !dialog.model;dialog.color='secondary'">Dialog Question Test</v-btn>
          <v-dialog v-model="dialog.model" width="50%">
            <v-card flat :dark="theme.dark" :light="!theme.dark">
              <alert-icon medium mode="prompt"></alert-icon>
              <v-card-text class="grey--text text-xs-center">
                <p class="headline">Looks like Lorem ipsum dolor sit amet, consectetur.</p>
                <p class="subheading">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque magni rem delectus. Impedit tempora quo temporibus magni, itaque dolorum nostrum voluptates dolores asperiores, ipsum pariatur, voluptatibus reprehenderit tempore voluptate consequatur.</p>
              </v-card-text>
              <v-card-actions>
                <v-spacer></v-spacer>
                <v-btn color=primary @click="dialog.model = false">Okay</v-btn>
              </v-card-actions>
            </v-card>
          </v-dialog>
        </v-navigation-drawer>
        <v-toolbar app scroll-off-screen></v-toolbar>
        <v-content>
          <breadcrumbs></breadcrumbs>
          <!-- <v-btn @click="navigate('components/Pluma/Page/Create')">Component</v-btn> -->
          <v-slide-x-transition mode="out-in">
            <!-- <component :is="pageview.current"></component> -->
            <router-view></router-view>
          </v-slide-x-transition>
        </v-content>
        <v-footer app inset absolute></v-footer>
      </v-app>
    </div>
    <!-- Todo: only include in production -->
    <%= htmlWebpackPlugin.options.serviceWorkerLoader %>
    <!-- built files will be auto injected -->
  </body>
</html>
