@import '~https://fonts.googleapis.com/icon?family=Material+Icons';
@import '~https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  padding: 0;
  margin: 0;
  background-color: lightgray;
}
