.btn {
  cursor: pointer;
  font-weight: $font-weight-normal;
  // letter-spacing: .03em;
  font-size: px2rem(15px);
  min-width: px2rem(38px);
  box-shadow: $btn-box-shadow;
  border-radius: $border-radius;

  &-accent {
    @include button-variant($accent, $input-border-color);
  }

  &-secondary {
    @include button-variant($secondary, $input-border-color);
  }

  &-icon {
    padding-left: $btn-padding-x;
    padding-right: $btn-padding-x;
    text-align: center;
    background-color: transparent;
    border: none;
  }
}
