// json('../themes/default.json')

$theme := {
  primary: #0C5689, // $primary,
  secondary: #e56e37, // $secondary,
  accent: #00BEDD, // $accent,
  success: #30A300, // $success,
  warning: #EAC011, // $warning,
  error: #F44336, // $error,
  info: #00B8D6, // $info,
}
