@import '~vuetify/src/stylus/settings/_colors'

$grey = {
  "base":       rgba(64, 64, 64, 0.5),
  "lighten-5":  lighten($grey.base, 5%),
  "lighten-4":  lighten($grey.base, 5%),
  "lighten-3":  lighten($grey.base, 5%),
  "lighten-2":  lighten($grey.base, 5%),
  "lighten-1":  lighten($grey.base, 5%),
  "darken-1":   #757575,
  "darken-2":   #616161,
  "darken-3":   #424242,
  "darken-4":   #212121
}
