@import '~vuetify/src/stylus/settings/_theme'
@import '../theme'

$primary-font-family = Raleway, Roboto, sans-serif;
$body-font-family = Palanquin, Roboto, sans-serif;
$font-size-root = 16px

$material-dark.app-bar = #1E262B;
$material-dark.background = #222c32;
$material-dark.cards = #2b343a;

$material-dark.text.link = rgba($theme.primary, $material-dark.primary-text-percent);
