:root {
  // Body
  --body-bg: #{$body-bg};
  --body-color: #{$body-color};

  // Card
  --card-bg: #{$card};
  --card-bg-variant: linear-gradient(180deg, #{$accent} 0%, #{$card} 15%);
  --card-color: #{$body-color};
  --card-header-bg: transparent;
  --card-footer-bg: transparent;
  --card-header-border: none;
  --card-footer-border: none;

  // Color
  // Already declared on bootstrap/_variables
  --text-muted: #{$text-muted};
  --text-muted-dark: #{$text-muted-dark};

  // Font
  --font-family-base: #{$font-family-base};
  --font-family-monospace: #{$font-family-monospace};
  --font-family-primary: 'Valera Round', #{$font-family-base};
  --font-family-sans-serif: #{$font-family-sans-serif};

  // Sidebar
  --sidebar-bg: #{$sidebar};

  // Workspace
  --workspace-bg: #{$workspace};
}
