@import '~vuetify/src/stylus/settings/_colors'
@import '../variables/_padding'

.card {
  &--bordered {
    border: 1px solid $grey.lighten-2;
    border-radius: 5px;
  }

  &__title,
  &__text {
    padding: $padding.large;
  }

  &__actions {
    padding: $padding.base ($padding.large - $padding.mini);
  }
}
