.text-field {
  &--title input {
    font-size: 2em;
    height: 50px;
  }
}

.theme--light, .theme--dark {
  .input-group--text-field.input-group--text-field-box {
    .input-group__input {
      background-color: hsla(0,0%,0%,.05);
    }
  }
}
