.text-field {
  &--title input {
    font-size: $font-size.base * 2em;
    height: auto;
  }
}

.theme--light, .theme--dark {
  .input-group--text-field.input-group--text-field-box {
    .input-group__input {
      background-color: hsla(0,0%,0%,.05) !important;
    }
  }
}
