.inline {
    display: inline;
}

.distraction-free-mode {
    height: auto;
    min-height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    width: 100vw;
    z-index: 9998;

    &--toolbar {
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9999;
    }
}
