@import '~vuetify/src/stylus/settings/_colors.styl'

$theme := {
  primary: #009688
  accent: #FFC107
  secondary: #00796B
  info: #B2DFDB
  warning: #F8BB86
  error: #A90C32
  success: #387b19
}

@import '~vuetify/src/stylus/main'
